# 默认忽略的文件
/../../CSBotInterpreter​ /.idea/shelf/
/../../CSBotInterpreter​ /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../CSBotInterpreter​ /.idea/httpRequests/
# Datasource local storage ignored files
/../../CSBotInterpreter​ /.idea/dataSources/
/../../CSBotInterpreter​ /.idea/dataSources.local.xml
